* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: arial;
background-image: url('bg4.png');
background-size: cover;
background-attachment: fixed;
}

.form-login {
  width: 370px;
  height: 400px;
  background: #212F3D;
  margin: center;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 15px solid #006666;
  color: white;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
transition: 0,5s all;
background-size: cover;
background-attachment: fixed;
}

.form-login:hover {
  transition: 0,5s all;
   background-color: #3f3e3e;
}


.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;

}

.controls {
  width: 100%;
  border: 1px solid #006666;
  margin-bottom: 20px;
  padding: 11px 10px;
  background: #252323;
  font-size: 20px;
  font-weight: bold;

}

.buttons {
  width: 100%;
  height: 40px;
  background: #006666;
  color: white;
  margin-bottom: 16px;
 transition: 0,5s all;
 border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.buttons:hover {
   transition: 0,5s all;
    background-color: #006666;
     -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
   }

.mititulo{

  transition: 0,5s all;
  font-size: 16px;
  color: #ffffff;
  background-color: #212F3D;
}
.mititulo:hover{
  background-color: #006666;
  color: #ffffff;
  transition: 0,5s all;
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  font-size: 17px;
  background-attachment: fixed;
  background-size: cover;
}
  .control-label {
  color: #ffffff;  
  transition: 0,5s all;
  font-size: 16px;
 text-align: left;
  }
  .form-group {
    text-align: left;
  }
  .navbar-brand{
    white-space: normal
  }
  .footer {
  min-height: 50px;
  width: 100%;
  bottom: 0;
}
.form-login-index {
  width: 370px;
  height: 200px;
  background: #212F3D;
  margin: center;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 15px solid #006666;
  color: white;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
transition: 0,5s all;
background-size: cover;
background-attachment: fixed;
}
.container{
  background-color: #006666;
  color: #ffffff;
  transition: 0,5s all;
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  font-size: 17px;
  background-attachment: fixed;
  background-size: cover;
}
.container:hover{
  transition: 0,5s all;
   background-color: #3f3e3e;
}
.bg-primary {
    background-color: #212529!important;
    font-size: 16px;}
    
.btn-success {
    color: #fff;
    background-color: #006666;
    border-color: #198754;}
.container2{
  color: #ffffff;
  transition: 0,5s all;
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  font-size: 17px;
  background-attachment: fixed;
  background-size: cover;}
 .Eliminar{
    color: #fff;
    background-color: #990000;
    border-color: #198754;
      width: 100%;
  height: 40px;}
  .Actualizar{
    color: #fff;
    background-color: #cc9900;
    border-color: #198754;}
    .Buscar{
    color: #fff;
    background-color: #000066;
    border-color: #198754;}
    
  .containerInsertarUsuario{
  width: 500px;
  height: 400px;
  background: #000000;
  margin: center;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 15px solid #006666;
  color: white;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
transition: 0,5s all;
background-size: cover;
background-attachment: fixed;}

  .containerEliminarUsuario{
  width: 500px;
  height: 400px;
  background: #000000;
  margin: center;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 15px solid #006666;
  color: white;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
transition: 0,5s all;
background-size: cover;
background-attachment: fixed;}
  
.titulomodulo{
	color: #fff;
	 margin: center;
    background-color: #212529;
	font-size: 25px;
}